.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 60px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-left {
  display: flex;
  justify-content: space-between;
}
.header__top-line{
  height: 2px;
  width: 60px;
  background: $light-color-font;
  margin: 0 45px 0 40px;
}
.header__top-list,
.list{
  display: flex;
  justify-content: space-between;
  gap: 34px;
}
