//переменные 

$dark-blue-bg: #192144;
$light-blue-bg: #EDEFF6;
$main-yellow: #FFD74B;
$yellow-dark: #FFBD30;
$orange: #FF8D30;
$dark-orange:  #F26926;
$main-color-font: #444444;
$light-color-font: #FFFFFF;
