.footer__container{
    padding: 47px 58px 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__row{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.social-network{
    background: #FFD74B;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: relative;
    transition: all .3s;
    &:hover{
        background: #FFBD30;
    }
}
.social-network svg{
    position: absolute;
    top: 15px;
    left: 15px;
}
.social-network svg path{
    transition: all .3s;
}
.social-network svg path:active{
    opacity: 0.3;
}
.footer__developed{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #444444;
    display: flex;
    align-items: center;
    gap: 24px;
    transition: all .3s;
    &:hover{
        opacity: 0.6;
    }
    &:active{
        opacity: 0.3;
    }
}