.map__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 147px;
    padding: 87px;
    background: #FFD74B;
    border-radius: 0px 0px 60px 60px;
}
.map__adress{
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1D2E5B;
    position: relative;
}
.map__adress::before{
    content: '';
    position: absolute;
    top: -35px;
    left: -110px;
    background-color: #121936;
    background-image: url(../img/location.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 90px;
    padding: 27px;
    border-radius: 50%;
}
.map__btn{
    display: inline-block;
    background: #FFD74B;
    // background: $main-yellow;
    border-radius: 20px;
    width: 324px;
    padding: 29px 34px 27px 37px;
    font-size: 24px;
    line-height: 24px;
    color: #1D2E5B;
    position: relative;
    border: 3px solid #192144;
    border-radius: 20px;
}
.map__btn::after{
    position: absolute;
    top: 32px;;
    right: 25px;
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #1D2E5B;;
}
.map-iframe{
    width: 100%;
    height: 394px;
}
@media (max-width:768px){
    .map__wrapper{
        padding: 70px 75px 84px;
        gap: 62px;
    }
    .map__btn{
        width: 100%;
    }
    .map__adress{
        padding-left: 94px;
    }
    .map__adress::before{
        top: -24px;
        left: -26px;
        width: 68px;
        height: 68px;
        padding: 18px;
    }
  }
  @media (max-width: 320px){
    .map__wrapper{
        padding: 30px 25px 35px;
        gap: 32px;
    }
    .map__btn{
        font-size: 18px;
        line-height: 18px;
        max-width: 270px;
    }
    .map__adress{
        font-size: 16px;
        line-height: 22px;
        padding-left: 61px;
    }
    .map__adress::before{
        top: -7px;
        left: 0;
        width: 45px;
        height: 45px;
        padding: 12px;
        background-size: 21px;
    }
  }